/* Write your CSS here */
.popup-content {
  background-color: #ffffff;
  width: 750px;
  height: 460px;
  border-radius: 16px;
}

.thumbnail {
  width: 250px;
  height: 170px;
  border-radius: 10px;
  cursor: pointer;
}

.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close-button {
  align-self: flex-end;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  margin-top: 20px;
  margin-right: 20px;
  outline: none;
  cursor: pointer;
}
